.navbar {
    color: aliceblue;
   
}
/* #nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
} */
.collapse a {
    color: antiquewhite;
}

.logo img {
    width: 40px;
    border-radius: 50%;
}

.container-fluid .navbar-brand {
    color: rgb(0, 255, 13);
    padding-left: 10px;
    font-style: italic;
    cursor: none;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.col-md-9 img {
    border-radius: 30px;

}

h2 {
    text-align: center;
}

label {
    font-weight: bolder;
}

.nlp {
    padding-left: 400px;
    border-bottom: none;
}
.main {
    background-image: url(/martini.jpg);
}
.col-12 {
   max-height: 5.5cm; 
   max-width: 10cm;
}
.card {
    opacity: .9;
}
.page {
    padding: 10px;
}
.subt {
    text-align: left;
    text-decoration: underline;
}
