.navbar {
    color: aliceblue;
   
}
/* #nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
} */
.collapse a {
    color: antiquewhite;
}

.logo img {
    width: 40px;
    border-radius: 50%;
}

.container-fluid .navbar-brand {
    color: rgb(0, 255, 13);
    padding-left: 10px;
    font-style: italic;
    cursor: none;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.col-md-9 img {
    border-radius: 30px;

}

h2 {
    text-align: center;
}

label {
    font-weight: bolder;
}

.nlp {
    padding-left: 150px;
    border-bottom: none;
}
body {
    background-image: url(./images/martini.jpg);
}
.vh-100{
    padding-top: 80px;
    position: relative;
}

.col-12 {

   max-width: 10cm;
}
.card {
    opacity: .9;
}
.page {
    padding: 20px;
}
.subt {
    text-align: left;
    text-decoration: underline;
    color: aliceblue;
}
.card-title {
    height: 0.5cm;
    overflow: hidden;
    padding: 1px;
}
span {
    font-weight: bold;
}
k {
    font-weight: 400;
    font-style: italic;
}
#landing {
    padding-top: 65px;
}
