.navbar {
    color: aliceblue;
   
}
/* #nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
} */
.collapse a {
    color: antiquewhite;
}

.logo img {
    width: 40px;
    border-radius: 50%;
}

.container-fluid .navbar-brand {
    color: rgb(0, 255, 13);
    padding-left: 10px;
    font-style: italic;
    cursor: none;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.col-md-9 img {
    border-radius: 30px;

}

h2 {
    text-align: center;
}

label {
    font-weight: bolder;
}

.nlp {
    padding-left: 150px;
    border-bottom: none;
}
body {
    /* background-image: url(images/martini.jpg); */
    /* background-image: url(/images/martini.jpg); */
}
.vh-100{
    padding-top: 80px;
    position: relative;
}

.col-12 {

   max-width: 10cm;
}
.card {
    opacity: .9;
}
.page {
    padding: 20px;
}
.subt {
    text-align: left;
    text-decoration: underline;
    color: aliceblue;
}
.card-title {
    height: 0.5cm;
    overflow: hidden;
    padding: 1px;
}
span {
    font-weight: bold;
}
k {
    font-weight: 400;
    font-style: italic;
}
#landing {
    padding-top: 65px;
}
#searchp{
    padding-top: 65px;
}
#tabs{
    padding-top: 65px;
}
.page {
    padding-top: 65px;
}
body {
  margin: 5% 10%;
  background-color: rgb(29,161,242);
}

.like-glyph {
  cursor: pointer;
  padding-left: 1rem;
}

body h1 {
  color: #FFF;
}

body > header {
  margin-bottom: 5%;
}

article.media-post {
  border: solid 1px #000;
  margin: 2% 3%;
  background-color: #fff;
}

article.media-post > p {
  background-color: rgba(0,123,255,0.25);
  padding: 1em 2em;
}

article.media-post > header {
  padding: 1em 2em;
  background-color: rgb(225,232,237);
}

article.media-post > footer {
  color: rgb(170,184,194);
}

article.media-post > footer ul {
  list-style-type: none;
}

#modal {
  border-radius: 10px;
  background-color: maroon;
  color: white;

  margin: 1em;
  padding: 1em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#modal p {
  margin-bottom: 0;
}

.activated-heart {
  color: red;
}

.hidden {
  visibility: hidden;
}
